<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <footer id="footer">
                    <h1><a href="/" id="logo">@Config.CompanyName</a></h1>
                    <br/>
                    <div>
                        <a href="/admin" id="logo">Войти в Admin</a>
                    </div>
                </footer>
                <div id="copyright">
                    &copy; @Config.CompanyName. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
                </div>           
            </div>
        </div>
    </div>
</div>